<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
  debug="false">

	<appender name="console" class="org.apache.log4j.ConsoleAppender"> 
    	<layout class="org.apache.log4j.PatternLayout">
      		<param name="ConversionPattern" value="%d | %-5p | %-40c{1} | %-30M | %m%n" />
    	</layout>
  	</appender> 
  	
	<category name="com.flockspring" additivity="false">
    	<priority value="warn" />
    	<appender-ref ref="console" />
  	</category>

  	<category name="org.hibernate" additivity="false">
    	<priority value="warn" />
    	<appender-ref ref="console" />
  	</category>

  	<category name="org.springframework" additivity="false">
    	<priority value="warn" />
    	<appender-ref ref="console" />
  	</category>

  	<root>
    	<priority value="warn" />
    	<appender-ref ref="console" />
  	</root>

</log4j:configuration>
