<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
  debug="false">

	<appender name="console" class="org.apache.log4j.ConsoleAppender"> 
    	<layout class="org.apache.log4j.PatternLayout">
      		<param name="ConversionPattern" value="%d | %-5p | %-40c{1} | %-30M | %m%n" />
    	</layout>
  	</appender> 
  	
	<category name="com.ofafeather" additivity="false">
    	<priority value="${com.ofafeather.level}" />
    	<appender-ref ref="console" />
  	</category>

  	<category name="org.springframework" additivity="false">
    	<priority value="${org.springframework.level}" />
    	<appender-ref ref="console" />
  	</category>
	<category name="org.springframework.data.document.mongodb" additivity="false">
		<priority value="${org.springframework.data.document.mongodb.level}" />
		<appender-ref ref="console"/>
	</category>		
  	<root>
    	<priority value="${root.level}" />
    	<appender-ref ref="console" />
  	</root>

</log4j:configuration>


