.masonry {
	margin: 0 3em 2em;
	font-size: 1.5em;
	
	&:nth-child(1) {
		margin-top: 3em;
	}

	[class$=-tile] {
		position: relative;
		width: 100%;
	}

	.big-tile {
		display: block;
		float: left;
		height: 376px;
		h2 { top: 37%; }
	}

	.medium-tile {
		display: block;
		float: left;
		height: 279px;
		h2 { top: 33%; }
	}

	.small-tile {
		position: relative;
		display: block;
		height: 180px;
		h2 { top: 25%; }

		&:first-child {
			margin-bottom: 1.09em;
		}
	}

	a, img {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		text-align: center;
	}

	img {
		height: 100%;
		width: 100%;
	}

	h2 {
		position: relative;
		color: @colorWhite;
		font-family: "Lato-Bold";
	}

	.church-info {
		position: absolute;
		bottom: 1.5em;
		left: 2em;
		opacity: 0.8;
		background-color: @colorGray;
		font-size: 1.5em;
	}

	.add-church {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding-top: 18%;
		background-color: @colorGreen;
		color: @colorWhite;
	}
}

.video-embed {
	.add-church {
		font-family: "Lato-Black";
		background-color: @colorGreen;
		border-radius: 10px;
		.transition-effects;

		&:hover {
			background-color: darken(@colorGreen, 15%);
		}
	}
}