.section {
	text-align: center;
	min-height: 70em;
	&.white {
		color: @colorGreen;
		background-color: @colorWhite;
	}
	&.purple {
		color: @colorWhite;
		background-color: @colorPurple;
	}
	&.gray-blue {
		color: @colorWhite;
		background-color: @colorGrayBlue;
	}

	.player {
		width: 640px;
		height: 385px;
		margin: 0 auto;
		background: @colorBlack;
	}
}