.testimonial {
    margin-top: 75px;
    .make-xs-column(12);
}
.testimonial-info {
    .make-xs-column(7);
    font-size: 1em;
    text-align: right;
    margin-top: 40px; 
    span {
        color: white;
        display: block;
        width: 100%;
    }
    .testimonial-church {
        color: @color1;
        font-size: 0.8em;
    }
    .testimonial-church-location {
        font-size: 0.8em;
    }
    .testimonial-name {
       text-shadow: none;
        font-style: italic;
    }
    .testimonial-denomination {
        font-size: 0.8em;
        padding: 0.8em 0px;
    }
}
.testimonial-text {
        .make-xs-column(7);
        text-indent: 0.6em;
        font-size: 1.25em;
        line-spacing: 0.25em;
        text-align: justify;
        font-weight: normal;
        color: white;
}
.testimonial-content {
    .make-xs-column(5);
}
.testimonial-image {
    .make-xs-column(5);
    padding: 0px;
    img {
        width: 2in;
        .rounded-corners(1in);
    }
}